<h3>Aktualne wypożyczenia</h3><br>
<form method="GET" action="">
     <div class="form-group row">
          <div class="col">
               <input class="form-control" type="search" name="plate" placeholder="Numer rejestracyjny">
          </div>
          <div class="col">
               <select class="form-control" name="manufacturer">
                    <option value="">Dowolna marka</option>
                    <% for(let element of manufacturers){ %>
                    <% 
          if(typeof(manufacturer)!=='undefined')
          if(element._id == manufacturer){ %>
                    <option value="<%= element._id %>" selected><%= element.name %> </option>
                    <% }else{ %>
                    <option value="<%= element._id %>"><%= element.name %> </option>
                    <% } %>
                    <%}  %>
               </select>
          </div>
          <% if(typeof(models)!== 'undefined'){ %>
          <div class="col">
               <select class="form-control" name="model">
                    <option value="">Dowolny model</option>
                    <% for(let element of models){ %>
                    <% if(element._id == model){ %>
                    <option value="<%= element._id %>" selected><%= element.name %> </option>
                    <% }else{ %>
                    <option value="<%= element._id %>"><%= element.name %> </option>
                    <% } %>
                    <%}  %>
               </select>
          </div>
          <% } %>
     </div>
     <div class="form-group row">
          <div class="col">
               <select class="form-control" name="status">
                    <option value="">wybierz status</option>
                    <option value="aktywne">aktywne</option>
                    <option value="zakonczone">zakonczone</option>
               </select>
          </div>
          <div class="col">
               <input class="form-control" type="date" name="dateFrom">
          </div>
          <div class="col">
               <input class="form-control" type="date" name="dateTo">
          </div>
     </div>
     <div class="form-group row">
          <div class="col">
               <input class="form-control" type="number" name="priceFrom" placeholder="Cena od">
          </div>
          <div class="col">
               <input class="form-control" type="number" name="priceTo" placeholder="Cena do">
          </div>
          <div class="col">
               <select class="form-control" name="sortOption">
                    <option value="">Wybierz sortowanie</option>
                    <option value="0">Rosnąco po cenie</option>
                    <option value="1">Malejąco po cenie</option>
                    <option value="2">Rosnąco po dacie rozpoczęcia</option>
                    <option value="3">Malejąco po dacie rozpoczęcia</option>
               </select>
          </div>
     </div>
     <div class="form-group row">
          <div class="col">
               <button class="btn btn-primary" type="submit">Szukaj</button>
          </div>
     </div>
</form>


<% if(typeof(message) !== 'undefined'){ %>
<div><%= message %></div>
<% } %>

<% if(typeof(hires) !== 'undefined'){ %>
<table class="table">
     <thead class="thead-dark">
          <tr>
               <th scope="col">Login</th>
               <th scope="col">Marka</th>
               <th scope="col">Model</th>
               <th scope="col">Rejestracja</th>
               <th scope="col">Data wyp.</th>
               <th scope="col">Data zwr.</th>
               <th scope="col">Data zak.</th>
               <th scope="col">Cena za dzień</th>
               <th scope="col">Status</th>
               <th scope="col">Cena</th>
               <th scope="col"></th>

          </tr>
     </thead>
     <tbody>

          <% for(var hire of hires){%>
          <tr>
               <td><%= hire.userOn.login %></td>
               <td><%= hire.manufacturer.name %></td>
               <td><%= hire.model.name %></td>
               <td><%= hire.carSpecimen.plate %></td>
               <td><%= hire.startDate.toDateString() %></td>
               <td><%= hire.plannedDate.toDateString() %></td>
               <td><% if(hire.endDate){ %> <%= hire.endDate.toDateString() %> <% } %></td>
               <td><%= hire.carSpecimen.pricePerDay %></td>
               <td> <%= hire.status %></td>
               <% if(hire.status=="zakonczone") {%>
               <td><%= hire.price %></td>
               <% } %>
               <td><% if(hire.status!="zakonczone" && type=="service"){%>
                    <a href="<%= '/panel/service/hire/end/'+hire._id %>">Zakończ</a><% } %></td>
          </tr>
          <%}%>
</tbody>
</table>
<% } %>
